[Desktop Entry]
Encoding=UTF-8
Name=Zeal
Comment=Zeal P2P Cryptocurrency
Exec=/usr/bin/zeal-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/zeal;
Categories=Office;
Name[en_US]=zeal-qt.desktop
